@model Evidence_Module_7.Models.Country
@{
    ViewBag.Title = "Delete";
    var c = Model;
}

<div class="row">
    <div class="col-12">
        <h3>Country List</h3>

        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th></th>
                    <th>CountryName</th>
                    <th>Capital</th>
                    <th>Is Developed?</th>
                </tr>
            </thead>
            <tbody>


                <tr style="vertical-align:middle">
                    <td><img src="~/Pictures/@c.Picture" class="img-thumbnail rounded-circle" style="width:50px" /></td>
                    <td>@c.CountryName</td>
                    <td>@c.Capital</td>
                    <td>@(c.IsDeveloped ? "Yes": "No")</td>

                </tr>
                <tr>
                    <td></td>
                    <td colspan="5">
                        <h4>Universities</h4>
                        <table class="table table-bordered">
                            <thead class="table-light">
                                <tr>
                                    <th>Name</th>
                                    <th>AdmissionRequirment</th>
                                    <th>EstublishDate</th>
                                    <th>Ranking</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var u in c.Universities)
                                {
                                    <tr>
                                        <td>@u.UniversityName</td>
                                        <td>@u.AdmissionRequirment</td>
                                        <td>@u.EstublishDate.ToString("yyyy-MM-dd")</td>
                                        <td>@u.Ranking</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(x => x.CountryId)
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-danger">Confirm to Delete</button>
            </div>
        }
    </div>
</div>



